{% extends 'mx.html' %}
{% block content %}
    <!-- carousal  -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_Comrade_Hi/92a43e1a-fb83-44e2-8548-e21b70be4a87.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_Rakshak_v2/273e2701-51f4-4d70-93f2-af49f06222d3.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_Veerta/bf1b6cd1-e0d3-4340-b7de-2272f90b22f8.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_Hungergames_V1/56686161-4c69-4fa0-9da1-3685b61c984b.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_Twilight_V1/30f4c5d7-d035-4791-9e2e-308987a070e1.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HelloMyTwenties/6997ad21-d3bc-4dfc-85ad-9b91f607ad27.jpeg" class="d-block w-100" alt="...">
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- slide 1 -->
    <section class="bikes">
        <div style="padding: 10px 0;padding-left: 30px;">
            <h4 style="color: white;">Blockbuster Movies : All</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ce047c7a94a340e01f18acd061d8c2944ba7a70af253b79b8b2f0fb292105d7a.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/3b3afafc8cb07051d3055a80eb37590b2772be31ceefb4113ad9b8c0ad0e665a.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/a2f7afd199477533922d820255aa5fb9aecef4c2d497f761c89df00371fc4088.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/2bad9d3a522a5baa38834a2dcbfe94fb65e134e829c4fd28b343b05a2bd5e6fe.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/617e2b7a039da68557109626732687903553326e6cb91578bef7da332733baa5.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/004f0ec7b493518c5d7b65b7be2f1cfaebc44654deb93a1569d19dea55012409.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/6f1570896529a1ab4171b20ac44f164f307eff68725699c5fa67e2c0a1a618d9.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/6cf8460d0d7658e1c18de6b5b238dd86738da850160c28e2e7e5ca8dbe069964.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/81ce4a72875e137220ee60c8aacb7980118eac755985e5a6c19ba2dff74ce152.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- side 2 -->
          <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Chart Topping Moives: Dubbed in Hindi</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/47bf62ef4e1c30471a72c2134b9bc1827dd3373a88142db996d777a7fa39a902.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/e473abd3685cfcac41b4a688a111b7b246bc9685868500212b73cc344ada783c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/cb63b2bf1e1e4df8aeb7912fb5029a8a8e82a36e0c28f512199975f7a62ae112.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/b8bd1ef2a4b113253ea8bf289c4fea0625ad1522c1a49abfdac804928f98f484.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/844421138928023075289343bd51861453acdc82a415968af5b434b1065d642e.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/23e7b45fb65600aa5569c126341e11c6ae7b32eb5d04a1c1b4f5b9b655583d16.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/05df91ebfb398cea41408b1976c275e718b7c90801ef601ef9b64c79a7ea24bf.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ba856aec824022f51b6b730683582bc206cda9d6bec774b9349707a4cdcc2e78.__SX330__SY186__QL60__._TTW_.jpg" alt="">
            </div>
        </div>
    </section>
    
    <!-- slide 3 -->
         <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">International Movies Dubbed in Hindi</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/293074be848260d0a89b76adf9d9e535165695dc655395c2a27829bb2a2ee805.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/914f142692daf419191457104b0a267de0adcf5e49029f9a39aadf8f10677863.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/02951074c675c4206da7ee5c8bfe3952ffcbbfb18709767a2a8a7e881efc4ee1.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/6df643be42fcd56e7c62d5ba87c479a0ca3bb2d8097ddbe741492d9056ff336e.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/5b25e87be3005d4f47a2e485c6f9cc1ed011fedfef8b86b043e83924248798f9.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/db05447370efcf50db0885514a64f538e0365c91b26bbbebcbbb6d9d4e16b79c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1201af1310222bf526eb140b2a115923c3e462b3bb72fd4bd8a55884a8b94dbb.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/97f4b0aba2e5b98429e116cd58c285d1484484cd1f34435cf3f6c09161e8dc61.__SX330__SY186__QL60__._TTW_.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- slide 4 -->
     <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Asian action movies</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/f63dff68a827932fe265a83b103ef1a376f9f88ec4321ca4d8040b469997ec45.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/2e92ac230dd24fbfe0c4b1e3a2ef41f88cc75a064f8be08ee11e453bab549e1e.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/32353af991729ef6e6013a2e7d7a98a2be27f2244455653191d6c9387a24ca05.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1201af1310222bf526eb140b2a115923c3e462b3bb72fd4bd8a55884a8b94dbb.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/97f4b0aba2e5b98429e116cd58c285d1484484cd1f34435cf3f6c09161e8dc61.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/bc74d1167792a614a0096ba202b84bb83c32c13440922303755c29c0c4d8a8b5.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/dc0e80536de3ec60e1879a9107e19b4d44e1e111067adb1c7847610115b62162.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/6b51760fdd837fdc94f03b9dfca933012bd1622c30b6deb69807727475245e16.jpg" alt="">
            </div>
        </div>
    </section>
    
    </section>
    <!-- slide 5 -->
     <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Love is in the Air</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/4c4dc4a104d682986a612f66e29a8dd5152a73268d2f11de1eb9e75b1763853e.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ce71a170e84ba3d3f255f3e9ab5fa3a6c060b7f262bdc16c3402808e0419aeac.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/44e6c7d56012c530a2b2f0c6114e7bdf936f348b6be9f14ecbfa00ee8307b06c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/b5d283f8c600e238e518c7d3f0a0b6cc2e91f4e56057fae3ac10f34147fd18c5.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/66001430d5b5c2696ac33e3ff502b9fe762845cb394ffed27471ae9753d0f985.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/df50c96905c2a561bf829c23cdc117b155d8c0079290bddb0a223c4fca92e749.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/8e8a729ac51ed96e26826f57e5f74c50600eaf1fd3d923f1562e0428e84d4229.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/3152db3309216168b7df2089fc76aac46e185d41e9734f5afc3a02777c127061.__SX330__SY186__QL60__._TTW_.png" alt="">
            </div>
        </div>
    </section>

  {% endblock content %}