{% extends 'mx.html' %}
{% block content %}

    <!-- carousal  --> 
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HalfCAS2/73d0b0a0-635b-493c-b8d1-7b736700ed2c.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_SENA_Fauji/4889df8a-55ec-4250-95f9-4f8792bd2477.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HalfCAS2/73d0b0a0-635b-493c-b8d1-7b736700ed2c.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_RopeADope/1ae60b39-d138-4804-a2db-1929ee5f150c.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HunterS2/0ee63476-eae5-42e0-9c37-80e372ccd4bf.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HelloMyTwenties/6997ad21-d3bc-4dfc-85ad-9b91f607ad27.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_home_GGS3/c789dd46-8e3c-45fa-952d-175195d10671.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_LoveWithFlaws/3bdc9729-0e71-45d4-a486-e98b4c4149a4.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- slide 1 -->
    <section class="bikes">
        <div style="padding: 10px 0;padding-left: 30px;">
            <h4 style="color: white;">Trending Top 10</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/39660298480c44c966a896724e490bd216c112ca32be5835c7cc22d951c8a422.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/eea40c4b11a95a3dcf5f7f5b275e1d121fe88b2980c417e14bd57ade61c954b5.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/3f2015773f9da2215fcd98b491bb3389f46042ea4dede2a7950f59a0ad26f9dc.png" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/3c32f0b2dec7d7e57a69080406bd79c1740ebe476c0392107beae8d40ed9902d.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/854918c54199eacc290b8744f0f738997c7a393f52f569e6cfa901d486cb9f7c.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/7b215bbb0b5cc7fc8490b25c6ce274b5dd699dd0b0f08105f818a77e08beb97a.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/7f80d52741de8c288db96b5d3c9006c3e852a507b5c8050e333528f41f435209.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/474460cb1f37932bfb29c3d89122848ae84516ca00ed63ecc919517978021ff7.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/30c33771bf13315dd796aef2d8df2cbfed18f7875b98b8b58b43e5a4d8a0b484.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- side 2 -->
    <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Popular Web Series</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/63eafac1297d2f0b17082076825178675c04f54ac68f0bd3e49fc9ab447ff346.png" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/d5429ad3ff76ea789f3793054cf7ff6b20ef04052393f9d19837318aad39bcd4.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/e3149bbb29ceccfa3efa54c470f21614178537eabed99bfe0b49db3fdcfad668.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/a37de2878e0e6955b4edbbe0e83271562b3961b050af359364a1c424dabff2b9.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/4524df59b8e408fc35106fce1ddbc496fad69e47ac2f5110d4d61508c753c29e.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/f1fc67605e6f7c938fb02067b273745a16e68f28e63737bc9f9dce400dd10abb.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/274f5ca1e83c8dad3e5dd389e0a43ba0484e42ad6710f839bcc83ef4d6d9a717.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/4d94e46250adab0a1be4f2efa728a07617bb3613759d3d92f3a9d9b481620646.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/a92ee34010d3314f0007fdfb4b19954c61414ac8ee1b5d2ec570b6fcec1cc39f.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- slide 3 -->
         <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">New in Dubbeed Series</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/cabc55f5fd884f80594f69baa3758f898b77718c2973608b18b4d91b7ee0def6.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/b1a199b33830de222daaa4ac2970e6df91241303dbb194740e87e9ba759d6adf.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/6d848d8aff92e7759be12843090e4c8ef550a1e31a09429bda6dfa3f3718b2df.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1c580aa9414d7c5a77bf463beef176953401597f8a0312643a82f993c297a36a.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/67853aee4d9a637ad80e80eaaabbfcda2a2b97f94a8b1472c99c842e4d31f50c.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/b70c06899bed9075b4df1b502782232b1bf2342732449e420f76571aced798f5.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/cf36555dd10d398bb5092f234725bba9a196eabf8cb9d8930c266006cb01d764.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/f7aa9154b181a4b1dce16510e900583179cda43f2fc45b90dcd5b2b74f45be63.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- slide 4 -->
    <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Horror,Thriller&Mystery</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/7ab5b4a2496fe6be6a8952931eed68df5ed7baf5ec96c1a70c5b07e4c94d4709.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/d20ed6fc7edf9cc9b826c322daf818cf892e227d195bcd95eaa24c95d4a6bf75.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/c83b74e1fa1edb3b882e27efa6d4636d55f110cdc63e11a573321c82fccc556d.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/8e9aaecddc0deab9f8f031a1556f63094bc9076c1d4e3aa9eb185c4b55b5fa18.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/df84ba7356f079494c9939f8de18a9b9672eebea86102c99d8afac69c33367b6.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/49b2ef093c1ceec3cfd4566a51a6c290fbf588850ec25c72ef8233af8de3178b.png" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/9614b34303ee59f2a0ed3915ec883372c4a3f335ee8eb17f3a9d021f3b4c31c7.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/f190176d200da9f627a43a170f4f8c9a9ffd8fb9dd98b645ffdea03ffd3928a7.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- slide 5 -->
     <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Chart Topping Movies:Dubbed in Hindi</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/47bf62ef4e1c30471a72c2134b9bc1827dd3373a88142db996d777a7fa39a902.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/e473abd3685cfcac41b4a688a111b7b246bc9685868500212b73cc344ada783c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/cb63b2bf1e1e4df8aeb7912fb5029a8a8e82a36e0c28f512199975f7a62ae112.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/b8bd1ef2a4b113253ea8bf289c4fea0625ad1522c1a49abfdac804928f98f484.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/844421138928023075289343bd51861453acdc82a415968af5b434b1065d642e.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/23e7b45fb65600aa5569c126341e11c6ae7b32eb5d04a1c1b4f5b9b655583d16.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/05df91ebfb398cea41408b1976c275e718b7c90801ef601ef9b64c79a7ea24bf.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ba856aec824022f51b6b730683582bc206cda9d6bec774b9349707a4cdcc2e78.__SX330__SY186__QL60__._TTW_.jpg" alt="">
            </div>
        </div>
    </section>

    {% endblock content %}
   