{% extends 'mx.html' %}
{% block content %}
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HalfCAS2/73d0b0a0-635b-493c-b8d1-7b736700ed2c.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_SENA_Fauji/4889df8a-55ec-4250-95f9-4f8792bd2477.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HalfCAS2/73d0b0a0-635b-493c-b8d1-7b736700ed2c.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_RopeADope/1ae60b39-d138-4804-a2db-1929ee5f150c.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HunterS2/0ee63476-eae5-42e0-9c37-80e372ccd4bf.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_HelloMyTwenties/6997ad21-d3bc-4dfc-85ad-9b91f607ad27.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_home_GGS3/c789dd46-8e3c-45fa-952d-175195d10671.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_LoveWithFlaws/3bdc9729-0e71-45d4-a486-e98b4c4149a4.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- slide 1 -->
     <section class="bikes">
        <div style="margin-top: 0px;padding-left: 30px;">
            <h4 style="color: white;">Get hooked to latest hits</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/87232bf1b3ba8d3a8590a68a060c68a331ab3f721ae921d07e8022982e0f4193.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/eea40c4b11a95a3dcf5f7f5b275e1d121fe88b2980c417e14bd57ade61c954b5.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ff1a4639987fa4ec7d4a04468d8aa7dd89a59a23fdd33edff2dae231b6a36da1.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/f9b78ac8ad0f580c5220efc211260cbdc37d21bd017ef74cb3b60e5d6fd6acdb.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/e7d12d1092c5f99bba72ef868ccf22c7975db8f41ddf80913bd8e6927fa9786c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/f0d3dd4cb511dcf8a9cbbe672378552dabb7d4e9287021a61ed7c8b2021c6229.__SX330__SY186__QL60__._TTW_.jpg" alt="">
               
            </div>
        </div>
    </section>
    <!-- slide 2 -->
     <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Best of Asian Dramas</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/eea40c4b11a95a3dcf5f7f5b275e1d121fe88b2980c417e14bd57ade61c954b5.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/88c781269f296e0204f6addcd1a06835c27ffaf2a48c0aa2a669566f4c572f78.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/255d5c83cde4a28276195db96b66dd710ae38b9df885a5f1507a72d7bc0129c9.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1c580aa9414d7c5a77bf463beef176953401597f8a0312643a82f993c297a36a.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1c580aa9414d7c5a77bf463beef176953401597f8a0312643a82f993c297a36a.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/67853aee4d9a637ad80e80eaaabbfcda2a2b97f94a8b1472c99c842e4d31f50c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                
            </div>
        </div>
    </section>

        <!-- slide 3 -->
         <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Asian Romantic Movies</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/2ecb0afb921d4bc675cf1d2887f44dd94aafc0f364916865fbdac22e4bf4be0b.__SX330__SY186__QL60__._TTW_.png" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/a55234e1ebd1ab9a9e25e792dd12ab5175a0771be214e81b0ab077f61cbcc10d.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/917f227e5d537bf0805c3d2b7bcc8a9d9e8766f5c28aee99bc8d8f49b3bbe35c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/29ce06d6a34eb3f1b4cc5235b1d52176809d94abd71670b6c23fd4c3a483692b.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/f1eb4a398b40c3aec21cf8be6bd4dad6e0f37f05b65101b820aa4548b0956d30.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/2ecb0afb921d4bc675cf1d2887f44dd94aafc0f364916865fbdac22e4bf4be0b.__SX330__SY186__QL60__._TTW_.png" alt="">
                
            </div>
        </div>
    </section>
{% endblock content %}