{% extends 'mx.html' %}
<!-- {% block title %}Watch Latest Vdesi Movies{% endblock %} -->
{% block content %}
    <!-- carousal  -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_MisterFlower/f23bf879-0c1b-4401-b074-2e17c91c3c2e.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_OppaSaranghae/984eda4e-17d7-4a8e-b567-68abb837933d.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_RadiantOffice/31fb415f-18a2-40fd-b1df-b85bbc867db8.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_Mostbeautifulyou/c1e72e8b-cf00-4491-849d-2bcc824892e8.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_RopeADope/1ae60b39-d138-4804-a2db-1929ee5f150c.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_LoveWithFlaws/3bdc9729-0e71-45d4-a486-e98b4c4149a4.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_MyStarBride/d042cbdd-a305-4c70-944a-39bf575033a0.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://m.media-amazon.com/images/S/sonata-images-prod/ATV_IN_Desktop_FB_MySassyGirl/294a338e-5f4c-4085-ae82-92d7af76a4b5.__SX1900__SY1069__QL60__._TTW_.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- slide 1 -->
    <section class="bikes">
        <div style="padding: 10px 0;padding-left: 30px;">
            <h4 style="color: white;">Top 10 Shows</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ebdd946425c375c6a5885039f96544ed07cfc7dc26ea5f9c120a9bb467411405.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/d5429ad3ff76ea789f3793054cf7ff6b20ef04052393f9d19837318aad39bcd4.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/3c53e27c745372035bd9ee9e955d8d29f9247aebe22de09fe7017352b0aabef6.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ba989bd83b1ada081beb40195807b7c0fcee2386c9eea5108840d8e22ab8230c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/4f2e03956aff417935042d62d45bb7d4b1d95b7fae8f0fe4693ffa80b8f210e7.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/274f5ca1e83c8dad3e5dd389e0a43ba0484e42ad6710f839bcc83ef4d6d9a717.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1480bd9c100afd764adee64741538d55bcd043db982e27451a30eeb055e799fa.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/2e8361f434554232638b17592edaa8259949e00132aabad08aeb76821b7dfc1f.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                
            </div>
        </div>
    </section>
    <!-- side 2 -->
    <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">TVF Original Shows</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/f1fc67605e6f7c938fb02067b273745a16e68f28e63737bc9f9dce400dd10abb.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/4524df59b8e408fc35106fce1ddbc496fad69e47ac2f5110d4d61508c753c29e.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/79ce2d80dfcff47a6312a17a2a2ceb095688cfe2487da0aee19de9e58f95f8ee.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/e3149bbb29ceccfa3efa54c470f21614178537eabed99bfe0b49db3fdcfad668.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/d5429ad3ff76ea789f3793054cf7ff6b20ef04052393f9d19837318aad39bcd4.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/3c53e27c745372035bd9ee9e955d8d29f9247aebe22de09fe7017352b0aabef6.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ba989bd83b1ada081beb40195807b7c0fcee2386c9eea5108840d8e22ab8230c.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/4f2e03956aff417935042d62d45bb7d4b1d95b7fae8f0fe4693ffa80b8f210e7.__SX330__SY186__QL60__._TTW_.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- slide 3 -->
         <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Hip Hop Hindi | New Dance reality Show</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/27c91e0b8ebcdf37321c02e3010cc472a32a2e6e7fa2292ea44098f8c8b5f370.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1fe6e2413c478e7d7d5d0398bd47d5deb3096e5ab3eb21f02b154559945fcc50.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/76d8d88d2cdd50ba4d4d1e36320106027556adf6fb0f2117c9ab7c576dc246fb.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/93872282a8feab0a6ca01613332f9be422aaef362aa7830a342614f103fc4ba9.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/a4852b9efd34197f85b2220dc60b69c2e26c2a465f13084239900fe037b973e7.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/a4852b9efd34197f85b2220dc60b69c2e26c2a465f13084239900fe037b973e7.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                
            </div>
        </div>
    </section>
    <!-- slide 4 -->
    <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">Trending in Dubbed Series</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/e0d51ae811a1ad9af8fe44a85b03e7a7ecd04e02239362f915ec7d0e9f363d7e.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/eea40c4b11a95a3dcf5f7f5b275e1d121fe88b2980c417e14bd57ade61c954b5.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/474460cb1f37932bfb29c3d89122848ae84516ca00ed63ecc919517978021ff7.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/88c781269f296e0204f6addcd1a06835c27ffaf2a48c0aa2a669566f4c572f78.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/30c33771bf13315dd796aef2d8df2cbfed18f7875b98b8b58b43e5a4d8a0b484.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1480bd9c100afd764adee64741538d55bcd043db982e27451a30eeb055e799fa.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ebdd946425c375c6a5885039f96544ed07cfc7dc26ea5f9c120a9bb467411405.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                
            </div>
        </div>
    </section>
    <!-- slide 5 -->
     <section class="bikes">
        <div style="margin-top: -70px;padding-left: 30px;">
            <h4 style="color: white;">New Action Series | Sunil Shetty</h4>
            <div style="display: flex;gap: 20px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1f93af3d27ec27eaa4bc3dd193d3807ced62fd4ee40451241b783f1511772900.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/ef96c592785ab06d8b4defabe2dbf57380f2d16e5a3cd1135a88cc9cd33842bb.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/1f38ee22913f93a763672aa15eaa5e4b4f986156f3bf72e320a0b779f6a74d18.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/591fbe1b5edaa23a790e803db903ec249ebd0fdfeba9d1ca3df2bbd529cb3f68.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/74ae82d2430464f4daf0dd7ac9446a85ea4d1d28847574d66c87fc0b47ba48d8.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/98b1a11ff38048a55e7d4c422827fcde8969dc1852e74b0cda2ec977621a95db.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/b334ea080a42340560d87f6bed11cee43473ed392fa602fe1ceec9981604d962.__SX330__SY186__QL60__._TTW_.jpg" alt="">
                
            </div>
        </div>
    </section>
{% endblock content %}