{% extends  "main.html" %}

{% block content %}

    <section class="caro">
         <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2025/GW/BAU/Unrec/PC/934044814_1._CB551384116_.jpg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2025/GW/BAU/Unrec/PC/934044814._CB551384116_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/devjyoti/GW/Uber/Nov/uber_new_low._CB537689643_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/Softlines_JWL_SH_GW_Assets/2024/BAU_BTF/Nov/Unrec/Shoes/1/30003._CB542120021_.jpg" class="d-block w-100" alt="...">   
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG25/Sports/August/NSD/GW/Hero/Unrec_-_PC_-_NSD_Theme._CB801257529_.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="https://images-eu.ssl-images-amazon.com/images/G/31/INSLGW/af_pc_2x._CB792409181_.jpg" class="d-block w-100" alt="...">
            </div>
           
        </div>
        <button style="margin-top: 0px;padding:20px 5%;height: 350px;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button style="margin-top: 0px;padding:20px 5%;height: 350px;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </section>

    <!-- Cards 1 -->
    <section class="cards">
        <div class="card">
            <h4 style="font-size: 20px;width: 200px;">Revamp your home in style</h4>
            <div style="display:grid;grid-template-columns: auto auto;">
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/2x/372x232_Home_furnishings_2._SY232_CB555629502_.jpg"
                        alt="">
                    <p>
                        Cushion covers, bedsheets & more</p>
                </dvi>
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/2x/372x232_Home_decor_1._SY232_CB555629502_.jpg"
                        alt="">
                    <p>Figurines, vases & more</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/2x/372x232_Home_storage_1._SY232_CB555629502_.jpg"
                        alt="">
                    <p>Home Storage</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG20/Home/2024/Gateway/BTFGW/PCQC/New/2x/372x232_Home_lighting_2_-_Copy._SY232_CB555629502_.jpg"
                        alt="">
                    <P>Lighting Solution</P>
                </dvi>
                <a href="#" style="margin-top: -18px;">Explore All</a>
            </div>
        </div>

        <div class="card">
            <h4 style="font-size: 20px;width: 200px;">Appliances for your home | Up to 55% off</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08RDL6H79._SY116_CB667322346_.jpg"
                        alt="">
                    <p>Air conditioners</p>
                </dvi>
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B08345R1ZW._SY116_CB667322346_.jpg"
                        alt="">
                    <p>Refrigerators</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/Appliances-QC-PC-186x116--B07G5J5FYP._SY116_CB667322346_.jpg"
                        alt="">
                    <p>Microwaves</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/IMG15/Irfan/GATEWAY/MSO/186x116---wm._SY116_CB667322346_.jpg"
                        alt="">
                    <P>Washing machines</P>
                </dvi>
                <a href="#" style="margin-top: -18px;">See More</a>
            </div>

        </div>
        <div class="card">
            <h4 style="font-size: 20px;width: 200px;">Starting ₹149 | Headphones</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_boAt_0.5x._SY116_CB553870684_.jpg"
                        alt="">
                    <p>Starting ₹249 | boAt</p>
                </dvi>
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Boult_0.5x._SY116_CB553870684_.jpg"
                        alt="">
                    <p>Starting ₹349 | boult</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Noise_0.5x._SY116_CB553870684_.jpg"
                        alt="">
                    <p>Starting ₹649 | Noise</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/MSO/PD3/PC_QuadCard_Zeb_0.5x_1._SY116_CB570220221_.jpg"
                        alt="">
                    <P>Starting ₹149 | Zebronics</P>
                </dvi>
                <a href="#" style="margin-top: -18px;">See All ofer</a>
            </div>

        </div>
        <div class="card">
            <h4 style="font-size: 20px;width: 250px;">Under ₹499 | Deals on home improvement...</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 15px;">
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2025/March/Cleaning_wipes_hi-res_v3._SY232_CB549134196_.jpg"
                        alt="">
                    <p>Under ₹199 | Cleaning supplie</p>
                </dvi>
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2025/March/Shower_head__hi-res_v3._SY232_CB549134196_.jpg"
                        alt="">
                    <p style="width: 150px;">Under ₹399 | Bathroom accessories</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2025/March/Tools__hi-res_v3._SY232_CB549134196_.jpg"
                        alt="">
                    <p>Under ₹499 | Home tools</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/HomeImprovement/harsmisc/2025/March/Wallpapers__hi-res_v3._SY232_CB549134196_.jpg"
                        alt="">
                    <P>Under ₹299 | Wallpapers</P>
                </dvi>
                <a href="#" style="margin-top: -18px;">Explore All</a>
            </div>
        </div>
        <!-- card line2  -->
        <div class="card">
            <h4 style="font-size: 20px;width: 250px;">Automotive essentials | Up to 60% off</h4>
            <div style="display:grid;grid-template-columns: auto auto;">
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Glasscare1X._SY116_CB410830553_.jpg"
                        alt="">
                    <p>Cleaning accessories</p>
                </dvi>
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Rim_tyrecare1x._SY116_CB410830552_.jpg"
                        alt="">
                    <p>Tyre & rim care</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Vega_helmet_186x116._SY116_CB405090404_.jpg"
                        alt="">
                    <p>Helmets</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Auto/2020/GW/PCQC/Vaccum1x._SY116_CB410830552_.jpg"
                        alt="">
                    <p>Vacuum cleaner</P>
                </dvi>
                <a href="#" style="margin-top: -18px;">Explore All</a>
            </div>
        </div>
        <div class="card">
            <h4 style="font-size: 20px;width: 250px;">Starting ₹199 | Amazon Brands & more</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi>
                    <img
                        src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/PC_QC_HOME_SIZE_186_2._SY116_CB567468236_.jpg">
                    <p>Starting ₹199 | Bedsheets</p>
                </dvi>
                <dvi>
                    <img
                        src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/PC_QC_HOME_SIZE_186_3._SY116_CB567468236_.jpg">
                    <p>Starting ₹199 | Curtains</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/PC_QC_HOME_SIZE_186_4._SY116_CB567468236_.jpg"
                        alt="">
                    <p>Minimum 40% off|Ironing board </p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img23/PB/March/Bikram/PC_QC_HOME_SIZE_186_1._SY116_CB567468236_.jpg"
                        alt="">
                    <P>Up to 60% off | Home decor</P>
                </dvi>
                <a href="#" style="margin-top: -18px;">See more</a>
            </div>

        </div>
        <div class="card">
            <h4 style="font-size: 20px;width: 250px;">Up to 50% off | Baby care & toys | Amazon Brands</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 15px;">
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/PB/GW/PC/PC_QC_372x232_Life-Style_2_1x._SY116_CB788857785_.jpg"
                        alt="">
                    <p>Up to 50% off | Baby diapers & wipes</p>
                </dvi>
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/PB/GW/PC/PC_QC_372x232_Life-Style_1_1x._SY116_CB788857785_.jpg"
                        alt="">
                    <p style="width: 150px;">Up to 50% off | Ride ons</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/PB/GW/PC/PC_QC_372x232_Life-Style_3_1x._SY116_CB788857785_.jpg"
                        alt="">
                    <p>Starting ₹649 | RC cars</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/PB/GW/PC/PC_QC_372x232_Life-Style_4_1x._SY116_CB788857785_.jpg"
                        alt="">
                    <P>Up to 50% off | Baby safety essentials</P>
                </dvi>
                <a href="#" style="margin-top: -18px;">See more</a>
            </div>
        </div>
        <div class="card">
            <h4 style="font-size: 20px;width: 200px;">Starting ₹149 | Headphones</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_boAt_0.5x._SY116_CB553870684_.jpg"
                        alt="">
                    <p>Starting ₹249 | boAt</p>
                </dvi>
                <dvi>
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Boult_0.5x._SY116_CB553870684_.jpg"
                        alt="">
                    <p>Starting ₹349 | boult</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/GW/QC/PC/PC_QuadCard_Noise_0.5x._SY116_CB553870684_.jpg"
                        alt="">
                    <p>Starting ₹649 | Noise</p>
                </dvi>
                <dvi style="margin-top: -10px;">
                    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img21/june/CE/MSO/PD3/PC_QuadCard_Zeb_0.5x_1._SY116_CB570220221_.jpg"
                        alt="">
                    <P>Starting ₹149 | Zebronics</P>
                </dvi>
                <a href="#" style="margin-top: -18px;">See All ofer</a>
            </div>
        </div>
    </section>

    <!-- cards 3 -->
    <section class="bikes">
        <div style="padding: 10px 0;padding-left: 30px;background-color: #ffffff;margin-top: 15px;">
            <h4>Starting ₹70,348 | Set off on your next great ride <a style="font-size: 15px;" href="">See all
                    offers</a></h4>
            <div style="display: flex;gap: 3px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/I/71fvH2BN9-L._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/51zNfi2-HlL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/81CEjSdYKQL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/51Bwgp3URHL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/714iYWKtY3L._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/81Bdg2E1LFL._AC_SY400_.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="bikes">
        <div style="padding: 10px 0;padding-left: 30px;background-color: #ffffff;">
            <h4>Up to 60% Off | Top tech deals from nearby storesSee <a style="font-size: 15px;" href="">See all
                    offers</a></h4>
            <div style="display: flex;gap: 16px;overflow-y: scroll;scrollbar-width: none;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/I/51awbo+isZL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/51hgHfJUadL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/61rCmA2nV0L._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/31L34-6sz9L._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/51Zka9jg7PL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/51rL1sxPYiL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/61elvNQkd3L._AC_SY350_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/51M2PNwtlvL._AC_SY400_.jpg" alt="">

            </div>
        </div>
    </section>

    <!-- card 4 -->
    <section class="cards" style="margin-top: -6px;">
        <!-- 1 -->
        <div class="card">
            <h4 style="font-size: 20px;width: 250px;">Up to 50% Off | Designed for living, priced for you</h4>
            <div>
                <dvi>
                    <img style="padding-left: 20px;height: 220px;width: 220px;margin-top: 40px;"
                        src="https://m.media-amazon.com/images/I/713-y5+uYGL._AC_SY195_.jpg" alt="">
                    <p style="width: 270px;font-size: 14px;padding-top: 20px;font-weight: 400;">FURNEASER Bookshelf for
                        Books, Multipurpose Bookcase Stand Rack for Ho...</p>
                </dvi>
                <p style="width: 200px;"><b style="font-size: 20px; padding-right: 10px;">₹3,439</b> M.R.P:₹5,519.00</p>
            </div>
        </div>
        <!-- 2 -->
        <div class="card">
            <h4 style="font-size: 20px;width: 200px;">Up to 50% off | International brands</h4>
            <div style="display:grid;grid-template-columns: auto;column-gap: 5px;">
                <div>
                    <img style="height: 300px;width: 250px;margin-top: -50px;"
                        src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/OOC/Gateway/2025/Jupiter2025/PC_CC_379x304._SY304_CB803103082_.jpg"
                        alt="">
                </div>
                <a href="#" style="margin-top: -18px;">See All ofer</a>
            </div>
        </div>
        <!-- 3 -->
        <div class="card" style="padding-bottom:20px;">
            <h4 style="font-size: 20px;width: 230px;">Customers’ Most-Loved Fashion for you</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/41mWz2aRrTL._AC_SY145_.jpg" alt="">

                </dvi>
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/713n+TxyfCL._AC_SY400_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/71mRYklHcjL._AC_SY290_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/51dinW64JvL._AC_SY290_.jpg" alt="">
                </dvi>
                <a href="#" style="margin-top: 30px;">Explore More</a>
            </div>

        </div>
        <!-- 4 -->
        <div class="card">
            <h4 style="font-size: 20px;width: 250px;">Up to 60% off | Trending products from Emerging…</h4>
            <div>
                <dvi>
                    <img style="padding-left: 20px;height: 220px;width: 220px;margin-top: 40px;"
                        src="https://m.media-amazon.com/images/I/71S9f78xcPL._AC_SY390_.jpg" alt="">
                    <p style="width: 270px;font-size: 14px;padding-top: 20px;font-weight: 400;">OPTIFINE Wooden
                        Multipurpose Adjustable Height Table with Wheels…</p>
                </dvi>
                <p style="width: 200px;"><b style="font-size: 20px; padding-right: 10px;">₹999</b> M.R.P:₹1,999.00</p>
            </div>
        </div>
    </section>
 <!-- cards 5 -->
    <section class="bikes">
        <div style="padding: 10px 0;padding-left: 30px;background-color: #ffffff;margin-top: 15px;height: 270px;">
            <h4>Up to 60% off | Trending products from Emerging Businesses<a style="font-size: 15px;" href="">See
                    more</a></h4>
            <div style="display: flex;gap: 9px;overflow-y: scroll;scrollbar-width: none;padding: 10px 0px;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/I/61JeMF3xF-L._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/81C1kDwAwOL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/61MDuZOh5RL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/41oeywYJaaL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/61UKK19d8VL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/71adca78COL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/71adca78COL._AC_SY400_.jpg" alt="">

            </div>
        </div>
    </section>
<!-- cards 6 -->
    <section class="bikes">
        <div style="padding: 10px 0;padding-left: 30px;background-color: #ffffff;margin-top: 15px;height: 270px;">
            <h4>Up to 65% off | Apparel, luggage & more from Amazon Launchpad<a style="font-size: 15px;" href="">See
                    All</a></h4>
            <div style="display: flex;gap: 56px;overflow-y: scroll;scrollbar-width: none;padding: 10px 0px;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/I/71otK4O+hUL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/81KBVIXA3TL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/81-UCFmAZEL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/61jh3lPGBDL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/612V-ei+xyL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/51Ur5qXNprL._AC_SY400_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/616zTWMmY1L._AC_SY400_.jpg" alt="">

            </div>
        </div>
    </section>
    <section class="add">
        <div class="add-in" style="display: flex;">
            <div style="width: 50%;">
                <img style="width: 100%;height: 100%;padding-left: 30px;padding: 15px 10%;"
                    src="https://m.media-amazon.com/images/I/71Fp-S-cz4L.jpg" alt="">
            </div>
            <div style="width: 50%;padding-left: 10px;">
                <p style="font-size: 19px;width: 100%;padding-top: 10px;">HOUSE DECORE Microwave OTG Oven Stand for
                    Kitchen. Microwave Stand, Countertop Stand Shelf
                    Rack 2 Tire with 8 Hooks Size 58D x 33W x 52H (Black)
                <p style="font-size: 18px;font-weight: 600;">₹1,999</p>
                </p>

                <button
                    style="background-color: #ffa41c;font-size: 15px;padding: 5px 1%;border-radius: 15px;border: none;">Shop
                    now</button>
            </div>
        </div>
    </section>



    <section class="cards" style="margin-top: -6px;">
        <!-- 1 -->
        <div class="card">
            <h4 style="font-size: 20px;width: 250px;">Up to 50% Off | Designed for living, priced for you</h4>
            <div>
                <dvi>
                    <img style="padding-left: 20px;height: 220px;width: 220px;margin-top: 40px;"
                        src="https://m.media-amazon.com/images/I/713-y5+uYGL._AC_SY195_.jpg" alt="">
                    <p style="width: 270px;font-size: 14px;padding-top: 20px;font-weight: 400;">FURNEASER Bookshelf for
                        Books, Multipurpose Bookcase Stand Rack for Ho...</p>
                </dvi>
                <p style="width: 200px;"><b style="font-size: 20px; padding-right: 10px;">₹3,439</b> M.R.P:₹5,519.00</p>
            </div>
        </div>
        <!-- 2 -->
        <div class="card" style="padding-bottom:20px;">
            <h4 style="font-size: 20px;width: 250px;">Min. 40% off | Home & kitchen deals from Amaz…</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/71ALUhHMH1L._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/51oPtomQYYL._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/71e+WnY7rML._AC_SY170_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/41TXlDE74uL._AC_SY170_.jpg" alt="">
                </dvi>
            </div>

        </div>
        <!-- 3 -->
        <div class="card" style="padding-bottom:20px;">
            <h4 style="font-size: 20px;width: 250px;">Up to 65% off | Apparel, luggage & more from A…</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/51UC85nSAJL._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/81KBVIXA3TL._AC_SY170_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/81-UCFmAZEL._AC_SY170_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/61jh3lPGBDL._AC_SY340_.jpg" alt="">
                </dvi>
            </div>

        </div>
        <!-- 4 -->
        <div class="card" style="padding-bottom:20px;">
            <h4 style="font-size: 20px;width: 250px;">Up to 60% off | Top picks, best offers from Small B…</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/71IYZDqmi6L._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/71oVMGYF20L._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/61g7wMDdfkL._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/61Nc0O3bFtL._AC_SY340_.jpg" alt="">
                </dvi>
            </div>
        </div>
    </section>

    <section class="bikes">
        <div style="padding: 10px 0;padding-left: 30px;background-color: #ffffff;margin-top: 15px;height: 270px;">
            <h4>Starting ₹499 | Level up your playtime <a style="font-size: 15px;" href=""> See All offers</a></h4>
            <div style="display: flex;gap: 56px;overflow-y: scroll;scrollbar-width: none;padding: 10px 0px;scroll-behavior:auto;">
                <img src="https://m.media-amazon.com/images/I/51ljnEaW0pL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/81kAitW5qAL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/81qBiCSoegL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/81hLlbiqMML._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/61Q1Pa4X4-L._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/619VeLp0hIL._AC_SY200_.jpg" alt="">
                <img src="https://m.media-amazon.com/images/I/71L3JbKMbsL._AC_SY200_.jpg" alt="">

            </div>
        </div>
    </section>

    <section class="cards" style="margin-top: -6px;">
        <!-- 1 -->
        <div class="card" style="padding-bottom:20px;">
            <h4 style="font-size: 20px;width: 250px;">Up to 50% Off | Designed for living, priced for you</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/61UhxtF9jiL._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/61GTB3mI4jL._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/61TLYDT1pHL._AC_SY340_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/61hq9OnvRsL._AC_SY340_.jpg" alt="">
                </dvi>
                <a href="#" style="margin-top: 30px;">Explore More</a>
            </div>

        </div>
        <!-- 2 -->
        <div class="card">
            <h4 style="font-size: 20px;width: 200px;">Up to 50% off | International brands</h4>
            <div style="display:grid;grid-template-columns: auto;column-gap: 5px;">
                <div>
                    <img style="height: 300px;width: 250px;margin-top: -50px;"
                        src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/OOC/Gateway/2025/Jupiter2025/PC_CC_758x608._SY608_CB803103082_.jpg"
                        alt="">
                </div>
                <a href="#" style="margin-top: -18px;">See All ofer</a>
            </div>
        </div>
        <!-- 3 -->
        <div class="card" style="padding-bottom:20px;">
            <h4 style="font-size: 20px;width: 230px;">Customers’ Most-Loved Fashion for you</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/41mWz2aRrTL._AC_SY145_.jpg" alt="">

                </dvi>
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/713n+TxyfCL._AC_SY400_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/71mRYklHcjL._AC_SY290_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/51dinW64JvL._AC_SY290_.jpg" alt="">
                </dvi>
                <a href="#" style="margin-top: 30px;">Explore More</a>
            </div>

        </div>
        <!-- 4 -->
        <div class="card" style="padding-bottom:20px;">
            <h4 style="font-size: 20px;width: 230px;">Starting ₹2,599 | Pedal your way to fitness</h4>
            <div style="display:grid;grid-template-columns: auto auto;column-gap: 5px;">
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/61oE6jAN+vL._AC_SY170_.jpg" alt="">

                </dvi>
                <dvi style="margin-top: -50px;height: fit-content;width: fit-content;">
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/71xcTm5LI3L._AC_SY170_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/71CprVaM9fL._AC_SY170_.jpg" alt="">

                </dvi>
                <dvi>
                    <img style="height: 120px;width: 100px;"
                        src="https://m.media-amazon.com/images/I/7152Fw40eiL._AC_SY170_.jpg" alt="">
                </dvi>
            </div>

        </div>
        </div>
    </section>
    {% endblock content %}

  