{% extends 'main.html' %}
{% block content %}

    <main style="margin-top: 40px;">
        <div style="height: 60px;width: 1000px;margin: 10px auto;border: 2px solid #ffd814; border-radius: 10px;">
            ⚠️ You can view the content of this page in your preferred language, by clicking here. For detailed steps on
            how to change your language settings, see our Help page.
        </div>
        <div style="height: 50px;width: 1000px;margin: 10px auto;border: 2px solid #ffd814; border-radius: 10px;">
            ⚠️ For information on our live sale events, including promotions, deals, cashbacks, and quick solutions,
            refer to our Help page on Sale Events.
        </div>
        <div style="height: 50px;width: 1000px;margin: 10px auto;border: 2px solid #ffd814; border-radius: 10px;">
            ⚠️ For support during your shopping journey, refer to the Customer Service - Frequently Asked Questions Help
            page.
        </div>

        <div style="font-size: 30px;height: 100px;margin: 0 auto;width: 1000px;align-content: center;">
            Hello What Can I help you with?
        </div>
        <div style="border-bottom: 2px solid gray;">
        </div>
        <div style="height: 50px; align-content: center;margin: 0 auto;width: 1000px;">
            <h2>Somethings you can do here</h2>
        </div>
        <div style="margin: 0 auto;width: 1000px;display: flex;flex-wrap: wrap;gap: 20px;">
            <div
                style="border: 1px solid;border-radius: 5px;width: 300px;height: 100px;display: flex;justify-content: center;align-items: center;">
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/help/images/gateway/Box-t3.png" alt=""
                    height="50px">
                <div>
                    <h4>Your Orders</h4>
                    <p>Track Packages <br>
                        Edit and Cancel Orders</p>
                </div>
            </div>
            <div
                style="border: 1px solid;border-radius: 5px;width: 300px;height: 100px;display: flex;justify-content: center;align-items: center;">
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/help/images/gateway/returns-box-blue.png"
                    alt="" height="50px">
                <div>
                    <h4>Your Orders</h4>
                    <p>Track Packages <br>
                        Edit and Cancel Orders</p>
                </div>
            </div>
            <div
                style="border: 1px solid;border-radius: 5px;width: 300px;height: 100px;display: flex;justify-content: center;align-items: center;">
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/help/images/gateway/manage-address.png"
                    alt="" height="50px">
                <div>
                    <h4>Your Orders</h4>
                    <p>Track Packages <br>
                        Edit and Cancel Orders</p>
                </div>
            </div>
            <div
                style="border: 1px solid;border-radius: 5px;width: 300px;height: 100px;display: flex;justify-content: center;align-items: center;">
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/help/images/gateway/Prime_clear-bg.png"
                    alt="" height="50px">
                <div>
                    <h4>Your Orders</h4>
                    <p>Track Packages <br>
                        Edit and Cancel Orders</p>
                </div>
            </div>
            <div
                style="border: 1px solid;border-radius: 5px;width: 300px;height: 100px;display: flex;justify-content: center;align-items: center;">
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/help/images/gateway/Payments_clear-bg-t3.png"
                    alt="" height="50px">
                <div>
                    <h4>Your Orders</h4>
                    <p>Track Packages <br>
                        Edit and Cancel Orders</p>
                </div>
            </div>
            <div
                style="border: 1px solid;border-radius: 5px;width: 300px;height: 100px;display: flex;justify-content: center;align-items: center;">
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/help/images/gateway/IN-your-account.png"
                    alt="" height="50px">
                <div>
                    <h4>Your Orders</h4>
                    <p>Track Packages <br>
                        Edit and Cancel Orders</p>
                </div>
            </div>
            <div
                style="border: 1px solid;border-radius: 5px;width: 300px;height: 100px;display: flex;justify-content: center;align-items: center;">
                <img src="https://m.media-amazon.com/images/G/31/x-locale/cs/help/images/gateway/family_device.png"
                    alt="" height="50px">
                <div>
                    <h4>Your Orders</h4>
                    <p>Track Packages <br>
                        Edit and Cancel Orders</p>
                </div>
            </div>
            <hr>
        </div>

        <div style="width: 1000px;margin: 40px auto;">
            <h4>Find more solutions   <i>Type something like, "question about a charge"</i></h4>
            <input style="width: 1000px;margin: 20px 0px;height: 40px;" type="search" name="" id="">
        </div>

        <hr>

        <div style="width: 1000px;margin: 40px auto;">
            <h2>Browse Help Topics</h2>

            <div style="display: flex;border: 1px solid;border-radius: 5px;height: 500px;margin: 20px 0;">
                <div
                    style="padding: 15px 0;width: 300px;height: 500px;display: flex;justify-content: center;align-items: start;border-right: 1px solid;">
                    <ol style="font-weight: bold;list-style: none;;display: flex;flex-direction: column;gap: 10px;">
                        <li>Recommend Topics</li>
                        <li>Shipping delivery</li>
                        <li>Returns refunds replacemnet</li>
                        <li>ordering</li>
                        <li>managing your Account</li>
                        <li>amazon prime</li>
                        <li>payments priicng</li>
                        <li>amazon pay</li>
                        <li>product troubleshotting</li>
                        <li>amazon AmazonBazaar</li>
                        <li>devices digital Services</li>
                        <li>more help</li>
                        <li>amazon Business</li>
                        <li>other topics more help</li>
                        <li>self Services</li>
                    </ol>
                </div>
                <div
                    style="padding: 15px 0;width: 300px;height: 500px;display: flex;justify-content: center;align-items: start;border-right: 1px solid;">
                    <ol style="list-style: none;;display: flex;flex-direction: column;gap: 10px;">
                        <li>Recommend Topics</li>
                        <li>Shipping delivery</li>
                        <li>Returns refunds replacemnet</li>
                        <li>ordering</li>
                        <li>managing your Account</li>
                        <li>amazon prime</li>
                    </ol>
                </div>
                <div
                    style="padding: 15px 0;width: 300px;height: 500px;display: flex;justify-content: center;align-items: start;">
                    <ol style="list-style: none;;display: flex;flex-direction: column;gap: 10px;">
                        <li>Recommend Topics</li>
                        <li>Shipping delivery</li>
                        <li>Returns refunds replacemnet</li>
                        <li>ordering</li>
                        <li>managing your Account</li>
                        <li>amazon prime</li>
                        <li>payments priicng</li>
                        <li>amazon pay</li>
                        <li>product troubleshotting</li>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}