{% extends 'main.html' %}
{% block content %}
<style>

    .fresh-navbar a{
        font-size: 15px;
        color: #0f1111;
        text-decoration: none;
        padding: 0 31px;
    }
</style>
       
    <section class="fresh-navbar"
        style="padding: 0 40px;height: 45px;background-color: #ffffff;border-bottom: 1px solid;">
        <div style="height: 45px;display: flex;justify-content: start;align-items: center;">
            <div>
                <a href="">Best Sellers</a>
                <a href="">Hot New Releases</a>
                <a href="">Mover & Shakers</a>
                <a href="">Most wished for</a>
                <a href="">Most gifted</a>
            </div>
        </div>
    </section>

    <div style="margin: 20px 0;">
        <h2>Amazon Hot New Releases</h2>
        <p>Our bestselling new and future releases. Updated frequently.</p>
    </div>

    <div style="width: 1200px;margin: 0 auto;">

        <div style="display: flex;margin: 20px 0;">
            <h2>Hot New Releases in Home & Kitchen</h2><a href="">See more</a>
        </div>

        <div style="display: flex;gap: 20px;">

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/71mb8YAU7uL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    Amazon Brand - Presto! Garbage Bags | Medium | 180 Count | 30 Bags X 6 Rolls | 19 X 21 Inches | For
                    Dry & Wet Waste | Black
                </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>335<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/812dD3m4qyL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    Amazon Brand - Presto! Garbage Bags | Medium | 180 Count | 30 Bags X 6 Rolls | 19 X 21 Inches | For
                    Dry & Wet Waste | Black
                </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>335<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/61K67vCl7ML._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    Amazon Brand - Presto! Garbage Bags | Medium | 180 Count | 30 Bags X 6 Rolls | 19 X 21 Inches | For
                    Dry & Wet Waste | Black
                </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>335<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/41Sb3p-NPBL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    Amazon Brand - Presto! Garbage Bags | Medium | 180 Count | 30 Bags X 6 Rolls | 19 X 21 Inches | For
                    Dry & Wet Waste | Black
                </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>335<sup>00</sup>
                    </p>
                </div>
            </div>
        </div>

        <!-- section 2 -->

        <div style="display: flex;margin: 20px 0;">
            <h2>Hot New Releases in Office Products</h2><a href="">See more</a>
        </div>

        <div style="display: flex;gap: 20px;">

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/61+56mXx2PL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/51K5sq1k6tL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/61pHqBcerIL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/71rWCdalRCL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

        </div>

        <!-- section 3 -->

        <div style="display: flex;margin: 20px 0;">
            <h2>Hot New Releases in Home Improvement</h2><a href="">See more</a>
        </div>

        <div style="display: flex;gap: 20px;">

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/81xYpAR2eDL._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/81+kfdIYAPL._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/41ulrBiV9EL._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/51Q1ngzXSqL._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

        </div>

        <!-- section 4 -->


        <div style="display: flex;margin: 20px 0;">
            <h2>Hot New Releases in Health & Personal Care</h2><a href="">See more</a>
        </div>

        <div style="display: flex;gap: 20px;">

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/51z07WjtVtL._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    Credit Card Bill <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>299<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/61TpPpq1h+L._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    Safari Pentagon 55cm Small Cabin Trolley Bag Hard Case Polypropylene 4 Wheels 360 Degree Wheeling
                    System… <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>299<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/71UeIH7POGL._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    Safari Pentagon 55cm Small Cabin Trolley Bag Hard Case Polypropylene 4 Wheels 360 Degree Wheeling
                    System… <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>299<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/51bgbC0D4BL._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    Safari Pentagon 55cm Small Cabin Trolley Bag Hard Case Polypropylene 4 Wheels 360 Degree Wheeling
                    System… <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>299<sup>00</sup>
                    </p>
                </div>
            </div>

        </div>

        <!-- section 5 -->

        <div style="display: flex;margin: 20px 0;">
            <h2>Hot New Releases in Bags, Wallets and Luggage</h2><a href="">See more</a>
        </div>

        <div style="display: flex;gap: 20px;">

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/512TovN3isL._AC_UL225_SR225,160_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/41g48WWA7zL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/61wKtEDm1eL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

            <div style="width: 270px;">
                <img src="https://images-eu.ssl-images-amazon.com/images/I/71iLvwlyxbL._AC_UL450_SR450,320_.jpg" alt=""
                    height="170px">
                <div style="font-size: 14px;color: #2162A1;">
                    SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                    Cloths - Automotive Microfibre… </div>
                <div style="width: 250px;">
                    <div>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                    <p style="color: maroon;">
                        <sup>$</sup>225<sup>00</sup>
                    </p>
                </div>
            </div>

        </div>

    </div>




    <div style="display: flex;margin: 40px 0;width: 100%;margin-right: 40px;">
        <h2>Related to items you've viewed</h2><a href="">See more</a>
    </div>

    <div style="display: flex;gap: 10px;margin-left: 10px;overflow-y: scroll;scroll-behavior: smooth;scrollbar-width: none;">

        <div style="width: 200px;">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/61YeryfP6mL._AC_UL165_SR165,165_.jpg" alt=""
                height="150px">
            <div style="font-size: 14px;color: #2162A1;">
                SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                Cloths - Automotive Microfibre… </div>
            <div style="width: 250px;">
                <div>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p style="color: maroon;">
                    <sup>$</sup>225<sup>00</sup>
                </p>
            </div>
        </div>

        <div style="width: 200px;">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/71ded9+DxaL._AC_UL165_SR165,165_.jpg" alt=""
                height="150px">
            <div style="font-size: 14px;color: #2162A1;">
                SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                Cloths - Automotive Microfibre… </div>
            <div style="width: 250px;">
                <div>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p style="color: maroon;">
                    <sup>$</sup>225<sup>00</sup>
                </p>
            </div>
        </div>

        <div style="width: 200px;">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/61IJb69H+wL._AC_UL165_SR165,165_.jpg" alt=""
                height="150px">
            <div style="font-size: 14px;color: #2162A1;">
                SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                Cloths - Automotive Microfibre… </div>
            <div style="width: 250px;">
                <div>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p style="color: maroon;">
                    <sup>$</sup>225<sup>00</sup>
                </p>
            </div>
        </div>

        <div style="width: 200px;">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/51hPAdMFR6L._AC_UL165_SR165,165_.jpg" alt=""
                height="150px">
            <div style="font-size: 14px;color: #2162A1;">
                SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                Cloths - Automotive Microfibre… </div>
            <div style="width: 250px;">
                <div>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p style="color: maroon;">
                    <sup>$</sup>225<sup>00</sup>
                </p>
            </div>
        </div>

        <div style="width: 200px;">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/71A8WIpCXmL._AC_UL165_SR165,165_.jpg" alt=""
                height="150px">
            <div style="font-size: 14px;color: #2162A1;">
                SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                Cloths - Automotive Microfibre… </div>
            <div style="width: 250px;">
                <div>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p style="color: maroon;">
                    <sup>$</sup>225<sup>00</sup>
                </p>
            </div>
        </div>

        <div style="width: 200px;">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/71hFT7EkGML._AC_UL165_SR165,165_.jpg" alt=""
                height="150px">
            <div style="font-size: 14px;color: #2162A1;">
                SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                Cloths - Automotive Microfibre… </div>
            <div style="width: 250px;">
                <div>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p style="color: maroon;">
                    <sup>$</sup>225<sup>00</sup>
                </p>
            </div>
        </div>

        <div style="width: 200px;">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/713ZP0XQobL._AC_UL165_SR165,165_.jpg" alt=""
                height="150px">
            <div style="font-size: 14px;color: #2162A1;">
                SOFTSPUN Microfiber Cloth - 4 pcs - 40x40 cms - 340 GSM Grey! Thick Lint & Streak-Free Multipurpose
                Cloths - Automotive Microfibre… </div>
            <div style="width: 250px;">
                <div>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i style="color: rgb(255, 208, 0);" class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p style="color: maroon;">
                    <sup>$</sup>225<sup>00</sup>
                </p>
            </div>
        </div>

    </div>



  {% endblock content %}