{% extends 'main.html' %}
{% block content %}
<style>

    #intro {
        margin-left: 150px;
    }

    #template>div {
        height: 320px;
        width: 540px;
        background-image: url(https://m.media-amazon.com/images/G/01/sell/images/colors/green-50.svg);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    #template {
        margin-left: 180px;
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    #nav_child>a {
        text-decoration: none;
        color: #DDDDDD;
        font: 14px Arial, sans-serif;
        line-height: 25px;
    }

    #nav_child>a:hover {
        text-decoration: underline;
    }
</style>
      
    <div id="intro">
        <h1 style="height: 260px; width: 690px; color: #161D26; font: 72px Arial,sans-serif;">From home-grown to
            <br>well-known with <br>Amazon.in</h1>
        <h2 style="color: #161D26; font: 28px Helvetica,Arial,sans-serif; height: 56px; width: 490px;">Connect with
            millions of customers from 18,000+ pincodes</h2> <br><br>
        <a style="color: #161d26; font: 24px Helvetica,Arial,sans-serif; background-color: #FF6200; padding: 18px 34px; border-radius: 50px; text-decoration: none; border: 4px solid white;"
            href="">Start Selling</a>
        <img height="400" width="532" style="margin-left: 500px; margin-top: -400px;"
            src="https://m.media-amazon.com/images/G/31/amazonservices/Banner_image_new_new.webp" alt="">
    </div>
    <br><br><br><br><br>
    <div style="display: flex; flex-direction:row; margin-left: 420px;">
        <img height="90" width="90" src="https://m.media-amazon.com/images/G/31/amazonservices/New_new_new_one_more.gif"
            alt="">
        <h3 style="font: 52px Arial,sans-serif; color: #232F3E; margin-top: 10px;">Fee drop highlights</h3>
    </div>
    <div style="display: flex; flex-direction:row; margin-left: 150px;">
        <div
            style="height: 150px; width: 310px; background-color: #0064F9; margin: 0px 24px 40px 0px; padding: 24px 40px 32px; border-radius: 10px;">
            <h4 style="color: #161D26; font: 52px Arial,sans-serif; text-align:center; margin-top: -10px;">0%</h4>
            <p style="font: 20px Arial,sans-serif; color: #161D26; text-align:center; margin-top: -10px;">Referral fees
                on products under ₹300</p>
        </div>
        <div
            style="height: 150px; width: 310px; background-color: #0064F9; margin: 0px 24px 40px 0px; padding: 24px 40px 32px; border-radius: 10px;">
            <h4 style="color: #161D26; font: 52px Arial,sans-serif; text-align:center; margin-top: -10px;">$65</h4>
            <p style="font: 20px Arial,sans-serif; color: #161D26; text-align:center; margin-top: -10px;">National
                shipping rates now, from ₹77</p>
        </div>
        <div
            style="height: 150px; width: 310px; background-color: #0064F9; margin: 0px 24px 40px 0px; padding: 24px 40px 32px;
             border-radius: 10px;">
            <h4 style="color: #161D26; font: 50px Arial,sans-serif; text-align:center; margin-top: -10px;display: flex;"> 
                <p style="font-size: 20px;font-weight: 600;margin-top: 20px;">Up top</p><p>90%</p></h4>
            <p style="font: 20px Arial,sans-serif; color: #161D26; text-align:center; margin-top: -50px;padding-top: 20px;">Savings in
                selling fees on the sale of second unit</p>
        </div>
    </div>
    <h3 style="color: #232F3E; font: 38px Arial,sans-serif; text-align:center; font-weight:bold;">Category level impact
    </h3>
    <div id="template">
        <div>
            <div style="height:400px; width: 240px; color: #232F3E; padding-top: 2px; padding-left: 25px;">
                <h4 style="color: #232F3E; font: 28px Arial,sans-serif; text-align:center; font-weight:bold;">Apparel
                </h4>
                <h5 style="font: 24px Arial,sans-serif; margin-top: -10px;">See <strong>up to 16.5% reduction in
                        referral fee</strong> for products <= Rs.300.</h5>
                        <div style="display: flex; flex-direction:row;">
                            <p style="font: 16px Arial,sans-serif; margin-top: -15px;"><strong>Check here</strong></p>
                            <i style="margin-left: 100px;" class="fa-solid fa-plus"></i>
                        </div>
                        <hr>
            </div>
            <img style="margin-top: 20px;" height="270" width="230"
                src="https://m.media-amazon.com/images/G/31/amazonservices/Nazar-Buta-Cotton-Saree_grande.jpg" alt="">
        </div>
        <div>
            <div style="height:400px; width: 240px; color: #232F3E; padding-top: 2px; padding-left: 25px;">
                <h4 style="color: #232F3E; font: 28px Arial,sans-serif; text-align:center; font-weight:bold;">Home</h4>
                <h5 style="font: 24px Arial,sans-serif; margin-top: -10px;">See <strong>up to 15.5% reduction in
                        referral fee</strong> for products <= Rs.300.</h5>
                        <div style="display: flex; flex-direction:row;">
                            <p style="font: 16px Arial,sans-serif; margin-top: -15px;"><strong>Check here</strong></p>
                            <i style="margin-left: 100px;" class="fa-solid fa-plus"></i>
                        </div>
                        <hr>
            </div>
            <img style="margin-top: 20px;" height="270" width="230"
                src="https://m.media-amazon.com/images/G/31/amazonservices/Home_lifestyle.jpg" alt="">
        </div>
    </div>
    <br><br>
    <div id="template">
        <div>
            <div style="height:400px; width: 240px; color: #232F3E; padding-top: 2px; padding-left: 25px;">
                <h4 style="color: #232F3E; font: 28px Arial,sans-serif; text-align:center; font-weight:bold;">Shoes</h4>
                <h5 style="font: 24px Arial,sans-serif; margin-top: -10px;">See <strong>up to 15% reduction in referral
                        fee</strong> for products <= Rs.300.</h5>
                        <div style="display: flex; flex-direction:row;">
                            <p style="font: 16px Arial,sans-serif; margin-top: -15px;"><strong>Check here</strong></p>
                            <i style="margin-left: 100px;" class="fa-solid fa-plus"></i>
                        </div>
                        <hr>
            </div>
            <img style="margin-top: 20px;" height="270" width="230"
                src="https://m.media-amazon.com/images/G/31/amazonservices/Shoes_lifestyle.jpg" alt="">
        </div>
        <div>
            <div style="height:400px; width: 240px; color: #232F3E; padding-top: 2px; padding-left: 25px;">
                <h4 style="color: #232F3E; font: 28px Arial,sans-serif; text-align:center; font-weight:bold;">Jewelery
                </h4>
                <h5 style="font: 24px Arial,sans-serif; margin-top: -10px;">See <strong>up to 17.5% reduction in
                        referral fee</strong> for products <= Rs.300.</h5>
                        <div style="display: flex; flex-direction:row;">
                            <p style="font: 16px Arial,sans-serif; margin-top: -15px;"><strong>Check here</strong></p>
                            <i style="margin-left: 100px;" class="fa-solid fa-plus"></i>
                        </div>
                        <hr>
            </div>
            <img style="margin-top: 20px;" height="270" width="230"
                src="https://m.media-amazon.com/images/G/31/amazonservices/Jewellery_lifestyle.jpg" alt="">
        </div>
    </div> <br><br><br>
    <a style="height:47px; width:287px; color: #161D26; margin-left: 620px; font: 18px Arial,sans-serif;background-color: #FF6200; padding: 13px 26px; text-decoration: none; border-radius: 50px; font-weight:bold"
        href="">Know more about fee drop</a>
    <br><br>

   {% endblock content %}