<!-- above footer  -->
<section class="foot1">
    <div
        style="display: flex;padding-top: 20px;flex-direction: column;justify-content: center;align-items: center;height: 200px;border: 1px solid rgb(179, 177, 177);">
        <p style="font-size: 20px;font-weight: 800;">See personalized recommendations</p>
        <button
            style="background-color: #ffa41c;width: 200px;;font-size: 15px;padding: 5px 1%;border-radius: 15px;border: none;">SignUp</button>
        <p>New customer? <a href="">Start here.</a></p>
    </div>
</section>

<!-- footer  -->
<section class="footer">
    <div
        style="background-color: #37475a;height: 50px;width: 100%;display: flex;align-items: center;justify-content: center;">
        <h6 style="color: white;">Back to top</h6>
    </div>
    <div
        style="background-color: #232f3e;height: 350px;width: 100%;display: flex;justify-content: center;gap: 100px;color: white;">
        <div style="width: fit-content;padding-top: 40px;">
            <ul style="list-style: none;">
                <li style="font-size: 18px;font-weight: 700;padding-bottom: 10px;">Get to Know <br>Us</li>
                <li><a style="color: white;text-decoration: none;" href="">About Amazon</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Careers</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Press Releases</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Amazon Science</a></li>
            </ul>
        </div>
        <div style="width: fit-content;padding-top: 40px;">
            <ul style="list-style: none;">
                <li style="font-size: 18px;font-weight: 700;padding-bottom: 10px;">Connect with Us</li>
                <li><a style="color: white;text-decoration: none;" href="">Facebook</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Twitter</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Instagram</a></li>
            </ul>
        </div>
        <div style="width: fit-content;padding-top: 40px;">
            <ul style="list-style: none;">
                <li style="font-size: 18px;font-weight: 700;padding-bottom: 10px;">Make Money with Us</li>
                <li><a style="color: white;text-decoration: none;" href="">Sell on Amazon</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Sell under Amazon Accelerator</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Protect and Build Your Brand</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Amazon Global Selling</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Supply to Amazon</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Become an Affiliate</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Fulfilment by Amazon</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Advertise Your Products</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Amazon Pay on Merchants</a></li>
            </ul>
        </div>
        <div style="width: fit-content;padding-top: 40px;">
            <ul style="list-style: none;">
                <li style="font-size: 18px;font-weight: 700;padding-bottom: 10px;">Let Us Help You</li>
                <li><a style="color: white;text-decoration: none;" href="">Your Account</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Returns Centre</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Recalls and Product Safety Alerts</a></li>
                <li><a style="color: white;text-decoration: none;" href="">100% Purchase Protection</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Amazon App Download</a></li>
                <li><a style="color: white;text-decoration: none;" href="">Help</a></li>
            </ul>
        </div>
    </div>
</section>